/.metadata/
#Common 
*.o
*.obj
*.zip
*.xml
*.e
*.exe
**/debug/

#CCS Related
*.project 
*.cproject
*.ccsproject
*.pcap
*.pcapng
**/targetConfigs/
**/.jxbrowser.userdata/
**/.settings/
**/.launches/
**/Debug/
**/RemoteSystemsTempFiles/

#Python RelatedA
**/.*_venv/
**/.__pycache__/

**/tm4c123gh6pm.h
